networkx
matplotlib
pandas
tqdm
pygraphviz
jupyter
Pillow
numpy
pqdict
fuzzywuzzy
Faker
pytest
pytest-cov
python-Levenshtein
flask
werkzeug
Flask-Uploads
pyvis
Flask-HTTPAuth
beautifulsoup4
python-dotenv
