networkx
matplotlib
pandas
tqdm
#psycopg2
datasketch
pygraphviz
jupyter
Pillow
numpy
pqdict
fuzzywuzzy
Faker
pytest
pytest-cov
python-Levenshtein
flask
#click
#db-sqlite3
werkzeug
Flask-Uploads
pyvis
Flask-HTTPAuth
beautifulsoup4
python-dotenv
